body {
    background-color: rgb(240, 176, 248);
    padding: 50px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6rem;
}

.acordian {
    background-color: white;
    padding: 4px 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    border: 50px;
    box-shadow: 1px 1px 5px rgb(244, 160, 241);
    cursor: pointer;
}

.question{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.icon{
    margin-right: 16px;
    transition: transform 0.2s;
}
.icon.active{
    transform: rotate(-180deg);
}
.answer{
    color: #666;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s;
}

/* .answer.active{
    max-height: max-content;
} */